@media(max-width: 600px) {
    .cont {
        color: white;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .cont h1{
        font-size: 1.5em;
    }
    .cont h3{
        font-size: 1em;
        font-family: monospace;
    }
    }
    @media(min-width: 996px){
        .cont h1{
            font-size: 4em;
        }
        .cont h3{
            font-size: 3em;
            font-family: monospace;
        }
    }

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    padding: .8rem;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}

.carousel-inner img {
    margin:0;
    width: 100%;
}

.welcome {
    width: 75%;
    margin: 0 auto;
}

.welcome hr {
    border-top: 2px solid black;
    width: 95%;
}

.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.jumbotron {
    padding: 1rem;
}

.cont {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.fixed {
    height: 100vh;
    background-image: url('./images/bulb.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.box {
    width: 100%;
    height: 600px;
}